#graphdiv .dygraph-label {
    font-family: Georgia, Verdana, serif;
}

.dygraph-xlabel {
    font-size: 12px;
    padding-left: 250px;
}

.dygraph-ylabel {
    font-size: 14px;
    padding-left: 100px;
    padding-top: 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
